<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="description" content="{{ config.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Shame Comedy</title>
    <link rel="stylesheet" href="{{ "combined.min.css" }}">

    {% block head %}
    <style>
        * {
            max-width: 40rem;
        }
        h1 {
            margin-top: 3rem;
        }
        p+p {
            text-indent: 0;
        }
    </style>
    {% endblock %}
</head>

<body>
	<article>
    {% block body %}
		<hgroup class="alignCenter">
        <h1>{{ section.title }}</h1>
		</hgroup>
		<hr>
        {{ section.content | safe }}
    {% endblock %}

    {% block footer %}
    <footer>
        <p class="alignCenter">
            <small>
                Don't be a dick.
            </small>
        </p>
    </footer>
    {% endblock %}
</body>
</html>
